<div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">Descripción</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Completada</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button" class="btn btn-danger">borrar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>