<div class="row">
  <div class="col">
    <div class="mb-3 mt-2">
      <label for="exampleFormControlInput1" class="form-label">Título</label>
      <input class="form-control" type="text" placeholder="Inserta título" />
    </div>
    <div class="mb-3 mt-2">
      <label for="exampleFormControlInput1" class="form-label"
        >Descripción</label
      >
      <input
        class="form-control"
        type="text"
        placeholder="Inserta descripción"
      />
    </div>
    <button type="button" class="btn btn-success">Agregar tarea</button>
  </div>
</div>
