<div class="row">
  <div class="col">
    <h1>Alta Cliente</h1>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" value={{nombre}} [(ngModel)]="nombre"/>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">CIF</label>
      <input type="text" class="form-control" id="cif" value={{cif}} [(ngModel)]="cif"/>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Dirección</label>
      <input type="text" class="form-control" id="dir" value={{dir}} [(ngModel)]="dir"/>
    </div>
    <select class="form-select" aria-label="Default select example" [(ngModel)]="grupo">
      <option selected>Grupo</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <button type="button" class="btn btn-success btn1" (click)="guardar()">
      Guardar
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Lista Clientes</h2>
    <table>
        <tr>
          <td>#</td>
          <td>Nombre</td>
          <td>CIF</td>
          <td>Dirección</td>
          <td>Grupo</td>
          <td>Opciones</td>
        </tr>
        <app-cliente [listaClientes]="clientes"></app-cliente>
    </table>
  </div>
</div>
<router-outlet></router-outlet>